{{>header}}
<div class="container mt-4">
    <h1 style="display: inline" class="mb-3">Events</h1>
    <!-- Add Event Button -->
    <button type="button" class="btn btn-success ml-10 mb-3" data-bs-toggle="modal" data-bs-target="#addEventModal">
        Add Event
    </button>

    <!-- Search Bar -->
    <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Search events...">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
    </div>

    <!-- Events Table -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#events}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{formatted_date}}</td>
                    <td>{{description}}</td>
                    <td>
                        <a href="/event/rsvps/{{id}}" role="button" class="btn btn-primary btn-sm">RSVP</a>
                        <a href="#" role="button"
                           class="btn btn-danger btn-sm delete-btn"
                           data-bs-toggle="modal"
                           data-bs-target="#deleteModal"
                           data-event-id="{{id}}"
                           data-event-name="{{name}}">
                            Delete
                        </a>
                        <a href="#" role="button"
                           class="btn btn-warning btn-sm edit-btn"
                           data-bs-toggle="modal"
                           data-bs-target="#editEventModal"
                           data-event-id="{{id}}"
                           data-event-name="{{name}}"
                           data-event-date="{{formatted_date}}"
                           data-event-location="{{location}}"
                           data-event-description="{{description}}"
                           data-event-max-attendees="{{max_attendees}}">
                            Edit
                        </a>
                    </td>
                </tr>
                {{/events}}

                {{^events}}
                <tr>
                    <td colspan="4" class="text-center">No events found</td>
                </tr>
                {{/events}}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    {{>delete.modal}}
    {{>eventform.modal}}
    {{>editevent.modal}}

</div>

{{>footer}}